CTP_CLIENT_ID=
CTP_CLIENT_SECRET=
CTP_PROJECT_KEY=
CTP_SCOPE=
CTP_REGION=
PORT=

# Subscription destination configuration
# Options: "GoogleCloudPubSub" or "SNS"
CONNECT_SUBSCRIPTION_DESTINATION=

# GCP Pub/Sub configuration (required if CONNECT_SUBSCRIPTION_DESTINATION=GoogleCloudPubSub)
CONNECT_GCP_TOPIC_NAME=
CONNECT_GCP_PROJECT_ID=

# AWS SNS configuration (required if CONNECT_SUBSCRIPTION_DESTINATION=SNS)
CONNECT_AWS_TOPIC_ARN=